/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilos para a seção de cursos */
.cursos {
    padding: 20px;
}

.curso {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.curso h3 {
    font-size: 24px;
    margin: 0;
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilos para o ícone de perfil */
.perfil {
    position: absolute;
    top: 10px;
    right: 10px;
}

.perfil-link {
    text-decoration: none;
    color: #333;
    font-size: 24px;
}
